* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#mobile-menu,
#mobile {
  display: none;
}

nav {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.logo {
  margin-left: 63.58px;
  width: 396px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-items {
  margin-left: 36px;
  text-decoration: none;
  color: #000;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
}

#projects {
  margin-right: 61px;
}

.blog {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 60%;
  height: auto;
  margin-top: 77px;
}

.main-para {
  width: 60%;
  height: auto;
  margin-top: 44px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
}

.weird-box {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  width: 41%;
  height: auto;
  padding: 32px 24px 34px 24px;
  border-bottom: #000 2px solid;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-container h1 {
  width: 100%;
  height: auto;
  margin-top: 64px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
}

.blog-menu {
  width: 636px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 28px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 64px;
  margin-bottom: 113px;
}

.blog-item img {
  width: 304px;
  height: 176px;
  margin-bottom: 20px;
}

.blog-para {
  margin-left: 21px;
  width: 86%;
  height: auto;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
}

footer {
  height: 464px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.line {
  width: 1451px;
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "SF Pro Text";
  line-height: 28px;
  overflow: hidden;
  position: relative;
  right: 5px;
  margin-bottom: 105px;
}

.bold {
  font-weight: 800;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  text-align: center;
  height: 312px;
}

.footer-box img {
  width: 290px;
  margin-bottom: 25.5px;
}

.footer-box p {
  width: 488px;
  font-family: NewYorkSmall;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.contact {
  width: 209px;
  height: 27px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.contact a {
  color: #fff;
}

.copyright p {
  margin: 0;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

/*Menu Burger Icon */
.menu-toggle {
  margin-right: 31px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.burger {
  margin-right: 31px;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 6px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.burger::after {
  transform: translateY(-8px);
}

.burger::before {
  transform: translateY(8px);
}

@media (max-width: 1000px) {
  #mobile-menu {
    display: contents;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: contents;
  }
  .logo {
    width: 217px;
    height: 20px;
    margin-left: 20px;
  }
  .main img {
    margin-top: 53px;
    width: 100%;
  }
  .main-para {
    margin-top: 32px;
    width: 90%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  .weird-box {
    width: 100%;
  }
  .box {
    width: 100%;
    padding: 24px 5% 52px 5%;
  }
  .blog-container h1 {
    margin-top: 56px;
    margin-bottom: 29px;
  }
  .blog-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .blog-item img {
    width: 335px;
    height: 194px;
  }
  .blog-para {
    width: 262px;
    margin: 0;
    margin-bottom: 42px;
  }
  .blog-menu {
    width: 335px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .blog-container {
    margin-bottom: 40px;
  }
}
